<!DOCTYPE html>
<html>
<head>
    <title>Edit Expense</title>
</head>
<body>

<h2>Edit Expense</h2>

<form method="POST">
    <label>Amount:</label><br>
    <input type="number" name="amount" value="{{ expense.amount }}"><br><br>

    <label>Category:</label><br>
    <input type="text" name="category" value="{{ expense.category }}"><br><br>

    <label>Note:</label><br>
    <input type="text" name="note" value="{{ expense.note }}"><br><br>

    <button type="submit">Update</button>
</form>

</body>
</html>